.pop-up-profile {
  margin: 0 auto;
  padding: 34px 36px 37px;
  width: 430px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  transform: translate(99%, -135px);
}

.pop-up-profile::before {
  content: '';
  position: absolute;
  background: url(../../images/icon-close.svg);
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
}
