.profile__title {
  margin: 0 0 9px;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  position: relative;
}

.profile__title::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background: url(../../../images/profile-edit-button.svg);
  position: absolute;
  top: 16px;
  right: -44px;
  background-size: cover;
}

@media screen and (max-width: 885px) {
  .profile__title {
    font-size: 34px;
    line-height: 39px;
  }
  .profile__title::after {
    width: 21px;
    height: 21px;
    top: 13px;
    right: -38px;
  }
}

@media screen and (max-width: 700px) {
  .profile__title {
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 457px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    margin-bottom: 7px;
  }
  .profile__title::after {
    width: 18px;
    height: 18px;
    top: 8px;
    right: -28px;
  }
}
