.profile__image {
  width: 120px;
  aspect-ratio: 12/12;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__image:hover {
  cursor: pointer;
  background-color: #000;
  opacity: .2;
}
/*
.profile__image:after {
 content: url(	https://i.artfile.ru/4256x2832_1340783_[www.ArtFile.ru].jpg);
 height: 40px;
 width: 40px;
}
.profile__image:hover:after{
  display: block;
} */
@media screen and (max-width: 885px) {
  .profile__image {
    margin-left: -22px;
  }
}

@media screen and (max-width: 700px) {
  .profile__image {
    align-self: center;
    margin-left: 34px;
    margin-bottom: 26px;
  }
}
